@model ProductDB.Entities.Product

<div class="card text-center">
    <div class="card-header">
        <h1>Product Detail Information</h1>
    </div>
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">
            @Model.Category
            <span class="badge bg-primary">@Model.Price grn</span>
        </p>
        <form asp-action="Delete" asp-route-id="@Model.Id" method="post" class="d-inline">
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
        <a asp-action="Products" class="btn btn-primary">Back</a>
    </div>
</div>