@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <p>
        Суцільнометалевий одномісний винищувач-бомбардувальник з одним турбореактивним двигуном. Літак був створений групою інженерів Lockheed (на чолі з Кларенсом «Келлі» Джонсоном) всього за 143 дні.

        Перший політ прототипу XP-80 відбувся в січні 1944 року. Перша серійна версія, що отримала позначення P-80A Shooting Star, надійшла на озброєння в 1946 році. Р-80 став першим боєздатним реактивним літаком, що надійшов на озброєння ВПС США.

        У 1947 році з'явився наступний серійний варіант літака - P-80B. Дев'ятий серійний P-80A-1 був переобладнаний в новий прототип, що отримав позначення XP-80B. Він мав турбореактивний двигун Allison J33-A-17 потужністю 1816 кг тяги, оснащений системою впорскування метанолу і води. Крило було тоншим, але товщина обшивки була збільшена. Щоб встановити бак для водної суміші, довелося пожертвувати кількістю палива, зменшивши його з 1 781 до 1 610 л. Літак також отримав катапультоване крісло розробки Lockheed і систему кондиціонування кабіни пілотів.

        Озброєння літака складалося з шести 12,7-мм кулеметів Кольт-Браунінг М3 з боєкомплектом 300 патронів кожен в передній частині фюзеляжу. Під кожною панеллю крила можна було підвісити одну бомбу вагою 1000 фунтів (454 кг) або десять некерованих 5-дюймових (127 мм) ракет HVAR.

        Всього з березня 1947 по березень 1948 року було побудовано 240 винищувачів-бомбардувальників P-80B, включаючи P-80B-1 і 31 P-80B-5. Варіант В-5 призначався для експлуатації в арктичних умовах, його капот з підігрівом запобігав обмерзанню. Крім того, для експлуатації літака в умовах низьких температур використовувалися спеціальні види мастил і спеціальна гума.

        Щонайменше п'ять P-80B були обладнані системою наведення для ракет класу «повітря-поверхня» Bell GAM-63 RASCAL. Зовні ці літаки відрізнялися формою передньої частини фюзеляжу і баками, встановленими на крилі. Також вони були оснащені додатковими спойлерами на верхній і нижній поверхнях крила.

        У червні 1948 року, коли в США змінилася система позначення військових літаків, P-80B перейменували на F-80B.

        З початком Корейської війни F-80B дислокувалися в США і в Європі, використовувалися ВПС США в основному в навчальних цілях. Пізніше 117 винищувачів F-80B були приведені у відповідність до стандартів F-80C і перейменовані на F-80C-12. Решта F-80B були зняті з озброєння до кінця 1951 року.


    </p>
</div>