@*<div class="slide" style="background-image: url(&quot;;);"></div>*@
<img src="https://media.defense.gov/2005/Dec/26/2000574522/-1/-1/0/050317-F-1234P-035.JPG" />
<h4>P-80C Shooting Star in National Museum of USA Air force</h4>
@*<div>
<div>
<h5>Max speed:</h5>
<p>

</p>
</div>
<div>
    <h5>

    </h5>
    <p>

    </p>
</div>
</div>*@
<div class="specs_info">
<div class="specs_feature"> @*g*@
    <div class="feature airbrake">
        <div class="feature_img"></div>
        <div class="feature_name">Air brakes</div>
        <div class="feature_desc">Allows you to dramatically reduce the flight speed by releasing special flaps</div>
    </div>
</div>
<div class="specs_char">
    <div class="specs_char_block">
        <div class="specs_char_line"><span class="name">Max speed</span><span class="value"></span></div>
        <div class="specs_char_line_indent"><span class="name">at 0 m</span><span class="value">903 km/h</span></div>
    </div>
    <div class="specs_char_block">
        <div class="specs_char_line"><span class="name">Turn time</span><span class="value">24s</span></div>
    </div>
    <div class="specs_char_block">
        <div class="specs_char_line"><span class="name">Max altitude</span><span class="value">12 500 m</span></div>
    </div>
    <div class="specs_char_block">
        <div class="specs_char_line"><span class="name">Engine</span><span class="value">Allison J33-A-35</span></div>
        <div class="specs_char_line_indent"><span class="name">Type</span><span class="value">Jet</span></div>
        <div class="specs_char_line_indent"><span class="name">Cooling system</span><span class="value">Air</span></div>
    </div>
    <div class="specs_char_block">
        <div class="specs_char_line"><span class="name">Take-off weight</span><span class="value">7 t</span></div>
    </div>
</div>
</div>